<section class="section search">
  <div class="container">
    {% paginate search.results by 10 %}

      <h1 class="center-aligned">
        {% if search.performed %}
          <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
            {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {% else %}
          {{ 'general.search.title' | t }}
        {% endif %}
      </h1>
      
      <br>
      {% include 'search-form' %}

      <div class="article__content">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            <p class="center-aligned">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
          {% else %}
            <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
            <ul class="search-result__list">
              {% for item in search.results %}
                <li>
                  <a href="{{ item.url | within: collection }}">
                    <div class="search-result__item">
                      {% assign featured_image = item.image | default: item.featured_image %}
                      {% if featured_image != blank %}
                        <div class="search-result__item-image">
                          {{ featured_image | img_url: '240x240' | img_tag }}
                        </div>
                      {% endif %}
                      <div class="search-result__item-content">
                        <h3>{{ item.title }}</h3>

                        {% if item.object_type == 'product' %}
                          <p>
                            {% if item.compare_at_price > item.price %}
                              {% if item.price_varies %}
                                {% assign sale_price = item.price | money %}
                                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                              {% else %}
                                {% comment %} {{ 'products.product.on_sale' | t }} {% endcomment %}
                                <span class="">{{ item.price | money }}</span>
                              {% endif %}
                              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                              <s>{{ item.compare_at_price | money }}</s>
                            {% else %}
                              {% if item.price_varies %}
                                {% assign price = item.price | money %}
                                <span>{{ 'products.product.from_text_html' | t: price: price }}</span>
                              {% else %}
                                <span>{{ item.price | money }}</span>
                              {% endif %}
                            {% endif %}
                            {% unless item.available %}
                            {{ 'products.product.sold_out' | t }}
                            {% endunless %}
                          </p>
                        {% else %}
                          <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                        {% endif %}
                      </div>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>

    {% endpaginate %}
  </div>
</section>
