{% if cart.item_count > 0 %}
  <h3>{{ 'cart.general.title' | t }}</h3>

  <form action="/cart" method="post" novalidate>
    {% for item in cart.items %}

      <div class="flex-grid">
        <div class="grid__item col-4">{{ 'cart.label.product' | t }}:</div>
        <div class="grid__item col-8"><a href="{{ item.url }}">{{ item.product.title }}</a></div>

        <div class="grid__item col-4">{{ 'cart.label.price' | t }}:</div>
        <div class="grid__item col-8">
          {% if item.original_line_price != item.line_price %}
            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}:</span>
            {{ item.price | money }}
            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}:</span>
            <s>{{ item.original_price | money }}</s>
          {% else %}
            {{ item.price | money }}
          {% endif %}      
        </div>
        <div class="grid__item col-4">{{ 'cart.label.quantity' | t }}:</div>
        <div class="grid__item col-4">{{ item.quantity }}</div>
        <div class="grid__item col-4">
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
              <small>{{ 'cart.general.remove' | t }}?</small>
            </a>
        </div>
      </div>
      <br>
    {% endfor %}
    
    <div class="flex-grid">
      <div class="grid__item col-4">{{ 'cart.general.subtotal' | t }}:</div>
      <div class="grid__item col-8">{{ cart.total_price | money }}</div>

      {% if cart.total_discounts > 0 %}
        <div class="grid__item col-4">{{ 'cart.general.savings' | t }}:</div>
        <div class="grid__item col-6">{{ cart.total_discounts | money }}</div>
      {% endif %}
    </div>

    <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>

    {% if settings.cart_notes_enable %}
      <div class="grid__item col-12">
        <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}:</label>
        <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
      </div>
    {% endif %}
    
    

    <input type="submit" name="checkout" class="button" value="{{ 'cart.general.checkout' | t }}">
  </form>
{% else %}

  <h3>{{ 'cart.general.title' | t }}</h3>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    {% comment %} <p>{{ 'cart.general.continue_browsing_html' | t }}</p> {% endcomment %}
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}