{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
<section class="section collection-list style--{{ section.settings.theme_style }}">
  <div class="container">
    {% if section.settings.title != blank %}
      {% if template.name != "index" %} 
        <h1 class="collection-list__title alpha text--center trailer--double">{{ section.settings.title | escape }}</h1>
      {% else %}
        <h2 class="collection-list__title beta text--center trailer--double">{{ section.settings.title | escape }}</h2>
      {% endif %}
    {% endif %}

    <div class="flex-grid center-sm center-md center-lg">
    {% for block in section.blocks %}
      {%- assign collection = collections[block.settings.collection] -%}
      
      <div class="grid__item sm-12 md-6 lg-4">

        <a href="{{ collection.url | default: "#" }}" class="collection-item collection-list-item fancy-hover" {{ block.shopify_attributes }}>
          {% if collection.image != blank or collection.products.first != blank %}
            {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}

            {% if template.name == "index" %}
              <div class="collection-image lazyload responsive-bg-image image trailer--single" data-bgset="{% include 'responsive-bg-image', image: image_object %}"></div>
            {% else %} 
              <div class="collection-list__image">
                {% include 'responsive-image' with
                  image: image_object,
                  max_width: 480,
                  max_height: 480   
                %}
              </div>
            {% endif %}

          {% elsif collection == empty %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          {% endif %}

          {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
          <p class="collection-item--title">{{ collection.title | default: default_label }}</p>
        </a>

      </div>
    {% endfor %}

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "radio",
        "id": "theme_style",
        "label": "Theme Style",
        "options":[
          { "value": "light", "label": "Light" },
          { "value": "dark", "label": "Dark" }
        ],
        "default": "light",
        "info": "Light or Dark background style for this section"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
