{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="section featured-collection style--{{ section.settings.theme_style }}">
  <div class="container">

    {% if section.settings.title != blank %}
      {% if template.name != "index" %} 
        <h1 class="featured-collection__title alpha text--center trailer--double">{{ section.settings.title | escape }}</h1>
      {% else %}
        <h2 class="featured-collection__title beta text--center trailer--double">{{ section.settings.title | escape }}</h2>
      {% endif %}
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}
    
    <div class="flex-grid center-sm center-md center-lg">
      {% for product in collection.products limit: 6 %}

      <div class="grid__item sm-12 md-6 lg-4 trailer--single">
        <a href="{{ product.url | within: collection }}" class="collection-item featured-collection-item">
          {% if product.featured_image != blank %}
            <div class="featured-collection__image trailer--half">
              {% include 'responsive-image' with
                image: product.featured_image,
                max_width: 480,
                max_height: 480
              %}
            </div>
          {% endif %}

          <p class="collection-item--title">{{ product.title | escape }}</p>
          <span class="collection-item--price">
            {% if product.compare_at_price > product.price %}
              {% if product.price_varies %}
                {%- assign sale_price = product.price | money -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money }}
              {% endif %}
            {% else %}
              {% if product.price_varies %}
                {%- assign price = product.price | money -%}
                {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}
            {% endif %}
          </span>
        </a>
      </div>

      {% else %}
        {% for i in (1..6) %}
        <div class="grid__item sm-12 md-6 lg-4">

          <a href="#" class="featured-collection-item">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

            <p class="collection-item--title">{{ 'homepage.onboarding.product_title' | t }}</p>
            <p class="collection-item--price">{{ 1999 | money }}</p>
          </a>

        </div>
        {% endfor %}
      {% endfor %}
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "radio",
        "id": "theme_style",
        "label": "Theme Style",
        "options":[
          { "value": "light", "label": "Light" },
          { "value": "dark", "label": "Dark" }
        ],
        "default": "light",
        "info": "Light or Dark background style for this section"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
