<footer class="site-footer">
  <div class="container">
    <div class="social-media">
      {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, YouTube, Vimeo,' | split: ', ' -%}
      <ul class="social-media__list">
        {% for social in social_accounts %}
          {%- assign social_handle = social | handleize -%}
          {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
          {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

          {% if settings[social_link] != blank %}
            <li class="social-media__item">
              <a class="social-media__link" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                {% include social_icon %}
                <span class="social-media__text icon-fallback-text">{{ social }}</span>
              </a>
            </li>
          {% endif %}

        {% endfor %}
      </ul>
    </div>

    {% if section.settings.show_payment_icons %}
      <div class="payment-icons">
        {% unless shop.enabled_payment_types == empty %}
          <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
          <ul class="payment-icons__list">
          {% comment %} Custom Payment Icons {% endcomment %}
          {% comment %} Enable providers in your store - [store].myshopify.com/admin/settings/payments {% endcomment %}
          {% comment %} https://help.shopify.com/en/themes/customization/store/add-credit-card-icons {% endcomment %}
            {% assign enabled_payment_types = 'visa,master,american_express,paypal' | remove: ' ' | split: ',' %}
            {% for type in enabled_payment_types %}
              <li class="payment-icons__item">
                {{ type | payment_type_svg_tag: class: 'icon payment-icons__icon' }}
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      </div>
    {% endif %}

    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <div class="footer-menu">
        <ul class="footer-menu__list">
          {% for link in linklists[footer_linklist].links %}
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div id="textsection">
      <div class="simpletext">
        <h1> {{ section.settings.footer_title }} </h1>
        <h3> {{ section.settings.footer_text }} </h3>
      </div>
    </div>

    <div>
      <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ 'Rover' | link_to: '/' }}. {{ powered_by_link }}</small>
      {% comment %} shop.name {% endcomment %}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "text",
        "id": "footer_title",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "footer_text",
        "label": "Add custom text below",
        "default": "Add your text here"
      }
    ]
  }

{% endschema %}
