{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}
<section class="section newsletter style--{{ section.settings.theme_style }}">
  <div class="container container--small">
    <div class="newsletter-content">
      {% if section.settings.section_title != blank %}
        <label class="newsletter-content__heading gamma" for="Email">{{ section.settings.section_title | escape }}</label>
      {% endif %}
      {% if section.settings.subheading != blank %}
        <p class="newsletter-content__subheading trailer--double">{{ section.settings.subheading | escape }}</p>
      {% endif %}

      <div class="newsletter-form input-group trailer--single">
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="newsletter-form__message--success ">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email"
              class="newsletter-form__input input-group__input"
              name="contact[email]"
              id="Email"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              autocorrect="off"
              autocapitalize="off">
            <button class="newsletter-form__submit input-group__btn input-group__btn--text" type="submit" name="commit" id="Subscribe">
              <span class="newsletter-form__submit-text">{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "radio",
        "id": "theme_style",
        "label": "Theme Style",
        "options":[
          { "value": "light", "label": "Light" },
          { "value": "dark", "label": "Dark" }
        ],
        "default": "light",
        "info": "Light or Dark background style for this section"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
